<%= render "layouts/header" %>

<%= render "layouts/about" %>

<%= render "educations/index" %>

<%= render "experiences/index" %>

<%= render "skills/index" %>

<section id="sec_other">
	<div class="container-fluid">
		<div class="work-lang-int-block">
			<h1><%= t("navigator.wli") %> </h1>
			<div class="row">
				<div class="col-md-4">
					<div class="content">
						<% @workshops.each do |ws| %>
						<%= ws.title %>
						<% end %>
					</div>
				</div>
				<div class="col-md-4">
					<div class="content">
						<% @languages.each do |lang| %>
						<%= lang.name %>
						<%= lang.level %>
						<% end %>
						</div>				
				</div>
				<div class="col-md-4">
					<div class="content">
						<% @interests.each do |hobby| %>
						<%= hobby.title %>
						<% end %>
					</div>				
				</div>
		</div>	
		</div>
	</div>
</section>


<%= render "contact/new", contact: @contact %>

<%= render "layouts/footer" %>
