<%= render "layouts/header" %>

<%= render "layouts/about" %>

<%= render "educations/index" %>

<%= render "experiences/index" %>

<%= render "skills/index" %>

<section id="sec_other">
	<div class="container-fluid">
		<div class="work-lang-int-block">
			<div class="row">
				<div class="col-md-4">
					<h1><%= t("navigator.courses") %> </h1>
					<div class="content">
						<!-- <ul class="nobullet"> -->
						<!-- <#% @workshops.each do |ws| %> -->
						<%= t("resume.workshop.titles_html") %>
						<!-- <#% end %> -->
						<!-- </ul> -->
					</div>
				</div>
				<div class="col-md-4">
					<h1><%= t("navigator.languages") %> </h1>
					<div class="content">
						<!-- <ul class="nobullet"> -->
						<!-- # <#% @languages.each do |lang| %> -->
						<%= t("resume.language.names_html") %>
						<!-- <#% end %> -->
<!-- 						</ul> -->
						</div>				
				</div>
				<div class="col-md-4">
					<h1><%= t("navigator.hobbies") %> </h1>				
					<div class="content">
						<!-- <ul class="nobullet"> -->
						<!-- <#% @interests.each do |hobby| %> -->
						<%= t("resume.hobby.titles_html") %>
						<!-- <#% end %> -->
						<!-- </ul> -->
					</div>				
				</div>
		</div>	
		</div>
	</div>
</section>


<%= render "contact/new", contact: @contact %>

<%= render "layouts/footer" %>
