<section id="sec_experi">

<div class="container-fluid">
	<h1><%= t("navigator.experience") %></h1>
	<!-- <# @experiences.each do |exp| %> -->
	<button data-toggle="collapse" data-target="#danske"><%= t("resume.workplace1") %></button>
	<button data-toggle="collapse" data-target="#liks"><%= t("resume.workplace2") %></button>
	<div id="liks" class="collapse">
		<!-- <h3><#= exp.occupation %></h3> -->
		<!-- <p><#= exp.desc %></p> -->
		<h3><%= t("resume.occupation1") %></h3>
		<p><%= t("resume.expdesc1_html") %></p>
	</div>
	<div id="danske" class="collapse">
		<!-- <h3><#= exp.occupation %></h3> -->
		<!-- <p><#= exp.desc %></p> -->
		<h3><%= t("resume.occupation2") %></h3>
		<p><%= t("resume.expdesc2_html") %></p>
	</div>
	<!-- <# end %> -->
</div>

</section>
