<section id="sec_contact">
<div class="container">
<h1><%= t("navigator.contact") %></h1>
  
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= simple_form_for contact do |f| %>
        <%= f.invisible_captcha :subtitle %>
        <%= f.input :name, label: t("contact.label.name"), placeholder: t("contact.placeholder.name") %>
        <%= f.input :email, label: t("contact.label.email"), placeholder: t("contact.placeholder.email") %>
        <%= f.input :text, label: t("contact.label.text"), placeholder: t("contact.placeholder.text"), input_html: { :style=> 'width: 70%;', :rows => 5 } %>
        <!-- <%= recaptcha_tags %> -->
        <%= f.button :submit, t("navigator.contactme"), class: "btn btn-primary" %>

      <% end %>
    </div>
  </div>

</section>