<section id="sec_educat">

	<div class="container-fluid">
		<h1><%= t("navigator.education") %></h1>
		<ul class="timeline">
			<li>
				<div class="timeline-badge success"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
				<div class="timeline-panel">
					<h4><%= t("resume.uni.school1") %></h4>
					<h5><%= t("resume.uni.degree1") %></h5>
					<%= t("resume.uni.course1") %>
					<h4><small class="text-muted">2003–2009</small></h4>
			</li>

			<li class="timeline-inverted">
				<div class="timeline-badge success"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
				<div class="timeline-panel">
					<h4><%= t("resume.uni.school2") %></h4>
					<h5><%= t("resume.uni.degree2") %></h5>
					<%= t("resume.uni.course2") %>
					<h4><small class="text-muted">2009–2013</small></h4>
			</li>

			<li>
				<div class="timeline-badge success"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
				<div class="timeline-panel">
					<h4><%= t("resume.uni.school3") %></h4>
					<h5><%= t("resume.uni.degree3") %></h5>
					<h4><small class="text-muted">2013–2016</small></h4>
			</li>

			<li><div class="timeline-badge primary">Start</li>
			</div>
		</ul>
	</div>

</section>
