<!DOCTYPE html>
<html>
  <head>
    <title>Web Jeweler Studio</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <div id="notify"><%= msg %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
